[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/my-hugo-theme"]
	path = themes/my-hugo-theme
	url = https://github.com/BenSYZ/my-hugo-theme.git
[submodule "themes/simpleness"]
	path = themes/simpleness
	url = https://github.com/RainerChiang/simpleness.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
